extends ./layout.pug

block page-content
    section#home-page
        .brief-introduction
            h2#name Hi,
                br
                | I'm Jeric Chua
            p.descriptive-profession
                i A self-taught 
                    span.profession web developer
            br
            p.short-objective.
                I like building websites with an eagerness to provide the best possible
                user experience and browser performance.
            .know-more-container
                button.know-more-btn: a(href='about') Learn more!
                i.fa-solid.fa-arrow-pointer
        .design-objects
            .project-direction
                p VIEW
                    br
                    | PROJECTS
                .arrow-pointer
                    .arrow.left
                    .arrow.center
                    .arrow.right
            .screen-sizes-image-container
                img.screen-sizes-image(
                src="img/white-screen.png" 
                alt="3 different screen sizes" 
                width="800px" 
                height="580px")
    include ./project-content.pug
    include ./skills-content.pug
    section.marketing-section
        .marketing-questions
            p
                i.fa-solid.fa-globe
                | Are you planning to have a website?
            p
                i.fa-solid.fa-spinner
                | Did you experience slow performance on your website?
            p
                i.fa-solid.fa-bug 
                | Have you encountered some bugs on your website?
            p IF SO, YOU'RE ON THE RIGHT PAGE!
    section.contact-details-section
        .contact-details-background
            h1.contact-details-heading LET'S DISCUSS YOUR NEEDS
            .contact-details
                p.phone-number
                    i.fa-solid.fa-phone
                    |  +63 9287 687 628
                button.email-btn.btn-typ
                    a(href="https://mail.google.com/mail/u/0/?view=cm&amp;fs=1&amp;tf=1&amp;source=mailto&amp;to=worldhail41@gmail.com"
                    target="blank") Send Email
            p.contact-details-statement We can grab some coffee or something...
    
    //- link(rel='stylesheet' type='text/css' href='css/home.css')