doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='keywords' content="portfolio, web developer, front-end, back-end, fullstack, self-taught")
        meta(name='despcription' content='Jeric Chua\'s Portfolio Website. A self-taught web developer')
        meta(name='author' content='Jeric Chua')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Jeric Portfolio
        link(rel='stylesheet' type='text/css' href='css/layout.css')
        link(rel="stylesheet" href='fontawesome-free-6.1.2-web/css/all.min.css')
        link(rel='stylesheet' type='text/css' href='css/home.css')
        link(rel='stylesheet' type='text/css' href='css/about.css')
        link(rel='stylesheet' type='text/css' href='css/project.css')
        link(rel='stylesheet' type='text/css' href='css/skills.css')
        link(rel='stylesheet' type='text/css' href='css/contact.css')
        script(src='js/main.js' defer)

    body
        header
            .logo-container
                a.logo-link(href='index')
                    img.logo-image(
                        src='img/jeric-portfolio-logo.png' 
                        alt='logo name' 
                        width='250px' 
                        height="102px")
            .header-interaction
                a.header-contact-link.underline(href='contact') Contact
                .menu-button
                    each div, index in ['', '', '']
                        .line
        nav
            .hidden-overlay
                p.one-time-reminder You may tap here to close the navigation
            .ul-wrapper
                i.fa-solid.fa-arrow-right.nav-close
                ul.categories
                    li.category-list.home-link: a.index(href='index') Home
                    li.category-list.project-link: a.project(href='project') Projects
                    li.category-list.about-link: a.about(href='about') About
                    li.category-list.skills-link: a.skills(href='skills') Skills
                    li.category-list.contact-link: a.contact(href='contact') Contact
                    //- each line, value in ['home', 'project', 'about', 'skills', 'contact']
                    //-     li.category-list(class=line + '-link')
                    //-         -const upperCase = line.replace(line[0], line[0].toUpperCase())
                    //-         a(class=line href=line)= upperCase

        main
            block page-content

        footer
            .footer-icons
                i.fa-brands.fa-github
                i.fa-brands.fa-codepen
                i.fa-brands.fa-facebook
                i.fa-brands.fa-linkedin
            .footer-line
            ul.nav-categories
                li: a.underline(href='index') Home
                li: a.underline(href='project') Projects
                li: a.underline(href='about') About
                li: a.underline(href='skills') Skills
                li: a.underline(href='contact') Contact
            .footer-line
            p.copyright © 2023 Jeric Chua
                br
                | Made with passion